body {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #1c658c 0%, #eeeeee 69.73%);
  background-attachment: fixed;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 3fr 0.5fr;
  grid-template-areas:
    "navBar"
    "."
    "aboutMe"
    ".";
  position: absolute;
  left: 12.5%;
  bottom: 15%;
  width: 75%;
  height: 70%;
}

.navBar {
  grid-area: navBar;
  display: grid;
  grid-template-columns: 0.5fr 0.75fr 0.5fr 0.75fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". nav1 . nav2 .";
  position: relative;
  border-radius: 20px;
  background: #d8d2cb;
  text-align: center;
  padding: 3%;
}

.nav {
  background: #1c658c;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 10%;
}

a {
  display: block;
  margin: auto;
}

.nav1 {
  grid-area: nav1;
}

.nav2 {
  grid-area: nav2;
}

.aboutMe {
  grid-area: aboutMe;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr;
  grid-template-areas:
    ". . . . ."
    ". videoIntro . pic ."
    ". . . . ."
    ". bio . contact ."
    ". . . . .";
  border-radius: 20px;
  background: #d8d2cb;
}

.videoIntro {
  grid-area: videoIntro;
  background: #eeeeee;
  border-radius: 20px;
}

.pic {
  grid-area: pic;
  background: #eeeeee;
  border-radius: 20px;
}

.contact {
  grid-area: contact;
  padding-top: 5%;
  display: block;
  margin: auto;
}

.bio {
  grid-area: bio;
  background: #eeeeee;
  border-radius: 20px;
  font-size: 15px;
}

p {
  display: flex;
  justify-content: center;
}