body {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #1c658c 0%, #eeeeee 69.73%);
  background-attachment: fixed;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 3fr 0.5fr;
  grid-template-areas:
    "navBar"
    "."
    "projects"
    ".";
  position: absolute;
  left: 12.5%;
  bottom: 15%;
  width: 75%;
  height: 70%;
}

.navBar {
  grid-area: navBar;
  display: grid;
  grid-template-columns: 0.5fr 0.75fr 0.5fr 0.75fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". nav1 . nav2 .";
  position: relative;
  border-radius: 20px;
  background: #d8d2cb;
  padding: 3%;
}

.nav a {
  background-color: #1c658c;
  border-radius: 20px;
  display: inline-block;
  padding: 10%;
  padding-left: 30%;
  padding-right: 30%;
  text-decoration: none;
}

.nav a:link, .nav a:visited {
  color: white;
}

.nav a:hover, .nav a:active {
  color: lightblue;
}

.nav1 {
  grid-area: nav1;
}

.nav2 {
  grid-area: nav2;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr;
  grid-template-areas:
    ". . . . ."
    ". project1 . project2 ."
    ". . . . ."
    ". project3 . project4 ."
    ". . . . .";
  border-radius: 20px;
  background: #d8d2cb;
}

.project1 {
  grid-area: project1;
  background: #eeeeee;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.4fr 0.1fr 0.1fr;
  grid-template-areas:
    "title"
    "pic"
    "description"
    "link"
    ".";
}

.project2 {
  grid-area: project2;
  background: #eeeeee;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.4fr 0.1fr 0.1fr;
  grid-template-areas:
    "title"
    "pic"
    "description"
    "link"
    ".";
}

.project3 {
  grid-area: project3;
  background: #eeeeee;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.4fr 0.1fr 0.1fr;
  grid-template-areas:
    "title"
    "pic"
    "description"
    "link"
    ".";
}

.project4 {
  grid-area: project4;
  background: #eeeeee;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.4fr 0.1fr 0.1fr;
  grid-template-areas:
    "title"
    "pic"
    "description"
    "link"
    ".";
}

.title {
  grid-area: title;
}

.pic {
  grid-area: pic;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.description {
  grid-area: description;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding: 2%;
}

.github {
  grid-area: link;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  text-decoration: none;
  background-color: #1c658c;
}

.github:link, .github:visited {
  color: white;
}

.github:hover, .github:active {
  color: lightblue;
}
